<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PITZUUUU</title>
  </head>
  <body>
    <h1>PITYUUUU</h1>
    <div>
      <span style="margin-right: 10px;">Ugy:</span><input id="ugy" type="number">
    </div>
    <p></p>
    <div>
      <span style="margin-right: 10px;">Ero:</span><input id="ero" type="number">
    </div>
    <p></p>
    <button id="save" type="button">Save Character</button>
    <button id="delete" type="button">Delet All Character</button>

    <div id="characters"></div>

    <script src="javascripts/main.js"></script>
  </body>
</html>
